<div class="app-container">
  <div class="app-wrapper">
    <div class="app-content">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Add your to do" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <button nz-button nzType="default" nzShape="round">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          ADD
        </button>
      </ng-template>
      <div>
        <nz-select >
          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
        </nz-select>
      </div>
    </div>
  </div>
</div>
